# Core
Flask==2.1.2

# Create fake people
Faker==13.14.0

# Allows to send HTTP requests in @application.route('/space')
requests==2.28.0

# Reading csv file in @application.route('/mean')
pandas==1.4.2

webargs~=8.1.0

ulid-py==1.1.0